<div class="collection">
  <h1>Active Games</h1>
  <ul id="game-list">
<% @games.each do |game| %>
  <li><a href="<%= game_path(game) %>" class="collection-item"><%= game.name %><div class="right-align"><%= "#{game.players.count}/#{game.limit} players" %></div></a></li>
<% end %>
</ul>
</div>
