<main>
  <h1>Welcome to Appsassin</h1>

  <%= link_to "Create new game", new_game_path %>
  </br>
  <%= link_to "View created games", games_path %>
  </br>
  <%= link_to "Rules", rules_path %>
</main>
