<div class="center-align row">
  <h1>Welcome to Appsassin</h1>

  <div class="card-panel col s8 offset-s2">
  <span>
    Assassin (also Gotcha, Assassins, KAOS (Killing as organized sport), Juggernaut, Battle Royal, Paranoia, Killer, Elimination, or Circle of Death) is a live-action game. Players try to eliminate each other from the game using mock weapons in an effort to become the last surviving player.<br class="left-align">
    -Wikipedia
  </span>
  </div>
</div>
<div class="row col s2 offset-s2">
  <%= link_to "Create new game", new_game_path %>
  </br>
  <%= link_to "View created games", games_path %>
  </br>
  <%= link_to "Rules", rules_path %>
</div>
