<h1>Game Rules</h1>

<h3>How to play:</h3>
<p>It's a beautiful day in this neighborhood a beautiful day for a neighbor. Would you be mine? Could you be mine? Its a neighborly day in this beautywood a neighborly day for a beauty. Would you be mine? Could you be mine. The movie star the professor and Mary Ann here on Gilligans Isle. Space. The final frontier. These are the voyages of the Starship Enterprise. Boy the way Glen Miller played. Songs that made the hit parade. Guys like us we had it made. Those were the days. black gold Well we're movin' on up to the east side. To a deluxe apartment in the sky. The year is 1987 and NASA launches the last of Americas deep space probes.</p> <p>Goodbye gray sky hello blue. There's nothing can hold me when I hold you. Feels so right it cant be wrong. Rockin' and rollin' all week long?</p>

<p>But they got diff'rent strokes. It takes diff'rent strokes - it takes diff'rent strokes to move the world? Were gonna do it. Give us any chance well take it. Give us any rule we'll break it. We're gonna make our dreams come true.</p>
