<div class="col s8 offset-s2">
  <h1>Game Rules</h1>

  <h3>How to play:</h3>
  <ol>
    <li>Gather a group of players</li>
    <li>Create a game. Adding an access code to your game ensures that only those to whom you distribute the code can join your game</li>
    <li>Once all the players have joined, start the round and everyone will be notified of their target via text</li>
    <li>The game creator can start the next round once the targets have been eliminated</li>
  </ol>
</div>
